<div class="container">
  <h2>Welcome to the Home Page</h2>
  <div class="row">
    <div class="span4">
      <h3>Single Player</h3>

      <p>Play on your own.</p>

      <a class="btn" href="#" ng-click="singleplayer();">Start a Single Player Game</a>
    </div>

    <div class="span8">
      <h3>Multiplayer</h3>

      <p>Play with, or against, your friends and strangers.</p>

      <form ng-controller="signinCtrl" name="signinForm" ng-submit="submit();">
        <fieldset>
          <legend>Login or Register</legend>
          <div><input type="text" ng-model="account.email" placeholder="Email Address" required></div>
          <div><input type="password" ng-model="account.password" placeholder="Password" required></div>
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form> 

    </div>
  </div>

  <div class="row">
    <div class="span12">
      <a class="btn" href="/demo">Instant Start</a>
    </div>
  </div>
</div>

