<h2>Create a New World</h2>

<form name="createWorldForm" ng-submit="submit();">
  <fieldset>
    <label>World Name</label>
    <input type="text" name="name" ng-model="world.name" required />

    <label>Seed Value</label>
    <input type="text" name="seed" ng-model="world.seed" required />
    
    <div>
      <button type="submit" class="btn">Create World</button>
      <a class="btn" href="/world/list">Cancel</a>
    </div>
  </fieldset>
</form>

