<h2>World List</h2>

<div>
  <a class="btn" href="/world/create">Create a New World</a>
</div>

<div>
  <h3>Search for non-listed worlds</h3>
  <form name="joinWorldForm" ng-submit="search();">
    <input type="text" name="name" ng-model="name" />
    <button type="submit" class="btn">Search</button>
  </form>
</div>

<h3>Currently Populated Worlds</h3>
<p>Only worlds with active players are displayed.</p>

<ul>
  <li ng-repeat="world in worlds">
    <a href="#" ng-click="select(world.id);">{{world.name}}</a>
  </li>
</ul>

