body {
  background-color: #000;
  color: #fff;
}


.areamap {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 5px solid #ddd;
  overflow: hidden;
}

.areamap ul {
  position: absolute;
  left: 0;
  top: 0;
  border:1px solid red;
  list-style: none;
}

.areamap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  font-size: 9px;
  text-align: center;
  border-left: 1px dotted yellow;
  border-top: 1px dotted yellow;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
}

.areamap ul li.grass {
  background-image: url('/img/tiles/grass.png'); 
}

.areamap ul b {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: red;
}


