<h2>Create a New Character</h2>

<form name="createCharacterForm" ng-submit="submit();">
  <fieldset>
    <label>Character Name</label>
    <input type="text" name="name" ng-model="char.name" required />

    <label>Job</label>
    <select name="job" ng-model="char.job" required>
      <option value=""> ------- </option>
      <option value="fighter">Fighter</option>
      <option value="mage">Mage</option>
      <option value="thief">Thief</option>
      <option value="monk">Monk</option>
      <option value="ranger">Ranger</option>
      <option value="druid">Druid</option>
    </select>

    <label>Strength</label>
    <input type="text" name="str" ng-model="char.str" required />

    <label>Intelligence</label>
    <input type="text" name="int" ng-model="char.int" required />

    <label>Dexterity</label>
    <input type="text" name="dex" ng-model="char.dex" required />

    
    <div>
      <button type="submit" class="btn">Create Character</button>
      <a class="btn" href="/character/list">Cancel</a>
    </div>
  </fieldset>
</form>
