<h2>Character Selection and List</h2>

<a class="btn" href="/character/create">Create a New Character</a>

<ul>
  <li ng-repeat="char in characters">
    <a href="#" ng-click="select(char.id);">{{char.name}}</a>
  </li>
</ul>
